.App {
  text-align: center;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
  max-width: 100%;
}

/* @media is the foundation of responsive web design, 
allowing your application to change layouts, */
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 7s linear;

  }
}

.center-container {
  display: flex; 
  justify-content: center; 
  align-items: center;
  min-height: 30vh;
  width: 100vw;
  margin: 0;
  box-sizing: border-box;
}


.App-header {
  /* background-color: #889063; */
  background-image: url("loading_background.jpg");
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  font-family:cursive;
  color: black;
}

/* .App-link {
  color: #61dafb;
} */

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
